
html
{
font-size: 62.5%;
}

body
{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

/* MATERIAL ICONS */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;  /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.welcome
{
	background-image: url("../jpg/headerimage.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	min-width: 100%;
	text-align: center;
	background-position: 50%;
}

.pageHeader
{
	position: absolute;
	min-width: 100%;
}

.pageHeader .myName
{
		
	font-family: 'Alegreya Sans SC', sans-serif;
	margin-top:  15px;
	margin-left: 10px;
	font-size: 32px;
}

.pageHeader .lastName
{
	font-weight: bold;
	display: none;
}


.pageHeader .navigation .navigationDiv
{
	position: absolute;
	top: 2vh;
	right: 2vh;
}

.welcome .welcomeText
{
	margin: 0;
	padding-top: 30vh;
	padding-bottom: 30px;
	font-weight: bold;
	display: none;
}
.welcome .welcomeTextMore
{
	font-size: 14px;
	display: none;
}

.welcome .scroolDown
{
	padding-top: 22vh;
	color: #fff;
	font-size: 18px;
}

.welcome .scrollParagraph
{
	font-size: 12px;
}

.welcome .arrowUp
{
	position: fixed;
	color: #fff;
	font-size: 48px;
	right: 10%;
}

.twoOffers
{
	width: 100%;
	padding: 0;
}

.twoOffers .bestDesign
{
	float: left;
	width: 50%;
	background-image: url("../jpg/bestdesign.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 10%;
	background-size: cover;
	color: #ffffff;
}

.twoOffers .bestDesign
{
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	word-spacing: normal;
}

.twoOffers .bestDesign .bigger, .bestCode .bigger
{
	font-weight: bold;
}

.twoOffers .bestCode
{
	float: right;
	width: 50%;
	background-image: url("../jpg/bestcode.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 10%;
	background-size: cover;
	color: #ffffff;
}

.twoOffers .bestCode
{
	font-size: 12px;
    padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	word-spacing: normal;
}

.whatImDoin
{
	width: 100%;
	padding: 0;
	text-align: center;
}

.whatImDoin h3
{
	padding-bottom: 20px;
}

.whatImDoin .intrestedThings
{
	border: 1px solid;
	min-width: 26vh;
	min-height: 22vh;
	display: inline-block;
	margin-bottom: 8vh;
	padding-top: 9vh;
}
.whatImDoin .intrestedThings .intrestedThingsText
{
	text-align: center;
}
.whatImDoin .intrestedThings .intrestedThingsText .intrestedThingsParagraph
{
	font-size: 16px;	
}
.whatImDoin :nth-child(5)
{
	background: #2a2a2a;
	color: #fff;
}
 .whatImDoin :nth-child(3)
 {
 	background: #121212;
	color: #fff;
}

.whatImDoin .intrestedThings  .intrestedThingsText .material-icons
{
	display: none;
	font-size: 36px;
}
.aboutMe
{
	text-align: center;
	width: 100%;
	padding: 0;
	background-image: url("../jpg/aboutus.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 20%;
	color: #fff;
}

.aboutMe .photoOfMe
{
	width: 180px;
	height: 230px;
	margin-bottom: 15px;
}

.aboutMe p
{
	font-size: 13px;
}

.aboutMe h3
{
	padding-bottom: 15px;
}

.aboutMe .btnCV
{
 margin-top: 15px;
 margin-bottom: 25px;
}

.welcome .btnCV
{
	margin-top: 34px;
}

.btnCV
{
  background-image: -moz-linear-gradient( 16deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);
  background-image: -webkit-linear-gradient( 16deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);
  background-image: -ms-linear-gradient( 16deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);
  color: #fff;
  border: 0px;
}

footer
{
	text-align: center;
	font-weight: bold;
	color: #b2b6c4;
	font-size: 16px;
}

/* MEDIA QUERY DESKTOP */
@media (min-width: 1200px) { 
.pageHeader .navigation .desktopMenu
{
	 list-style-type: none;
	 font-size: 18px;
	 margin-top: 15px;
}

.pageHeader .navigation .listElements
{
	padding-right: 33px;
	color: #000000;
	 text-decoration: none;
	 cursor: pointer;
}
.pageHeader .navigation .linkCV:hover
{
	 cursor: pointer;
}
.pageHeader .navigation .listElements:hover
{
	border-bottom: 1px solid;
	color: #fff;
}

.welcome .welcomeText
{
	font-size: 48px;
}

.pageHeader .myName
{
	margin-top:  30px;
	margin-left: 150px;
}

.welcome p
{
	font-size: 18px;
	font-weight: bold;
}

.welcome .btnCV
{
	margin-top: 68px;
}

.welcome .scrollParagraph
{
	font-size: 12px;
}

.welcome .scroolDown
{
	padding-top: 26vh;
	color: #fff;
	font-size: 24px;
}
.welcome .arrowUp
{
	
	font-size: 56px;
	top: 88%;
	right: 3%;
	color: rgb(208, 208, 225);
}
.twoOffers
{
	height: 53.5vh;
}

.twoOffers .bestDesign
{
	padding-top: 12vh;
	min-height: 100%;
	display: inline-block
}

.twoOffers .bestDesign h3
{
	text-align: center;
    font-size: 34px;
}

.twoOffers .bestDesign .bestText
{
	width: 50%;
}

.twoOffers .bestDesign .bestText p
{
	float: left;
	font-size: 12px;
}

.twoOffers .bestCode
{
	padding-top: 12vh;
	min-height: 100%;
	display: inline-block
}

.twoOffers .bestCode h3
{
	text-align: center;
	font-size: 34px;
}

.twoOffers .bestCode .bestText
{
	width: 50%;
}

.twoOffers .bestCode .bestText p
{
	float: left;
	font-size: 12px;
}

.whatImDoin
{
	height: 80vh;
}

.whatImDoin h3
{
	margin-top: 4vh;
}

.whatImDoin .intrestedThings
{
	margin-top: 18vh;
	display: inline-block;
	width: 10vh;
	height: 4vh;
	margin-right: 6vh;
	margin-left: 6vh;
}

.aboutMe .photoOfMe
{
	width: 270px;
	height: 350px;
}

.aboutMe h4
{
	font-size: 26px;
}
}
/* MEDIA MONITOR */
@media (min-width: 1600px){ 
	.whatImDoin .responsibilitiesProject
{
	padding-top: 16vh;
}

.whatImDoin .responsibilitiesApplication
{
	padding-top: 16vh;
}

.whatImDoin  img
{
	width: 140px;
	height: 90px;
}
}















